@charset "UTF-8";
/* CSS Document */
body {
	background-color:paleturquoise;   /* background color */
	color: #444;          /* text color for the page */
	font-size: 14px;
	font-family: Verdana, Geneva, sans-serif;
}
#wrapper {
width: 900px;
margin: 0 auto;
text-align: center;
}

 #text1 {
border: #E15398 medium solid;
}
 
 #text2 {
display: none;
border: #E15398 medium solid;
}
 #icon1 {
border: #E15398 medium solid;
}
 
 #icon2 {
display: none;
border: #E15398 medium solid;
}

.choices {
cursor: pointer;
}


a {
	padding: 15px;
margin: 3px;
	font-size: 125%;
	background-color:  orange; 
	color:  white; 
}
a:hover {
	font-size:125%;
	background-color: darkgray; 
	color: white; 
}

