@charset "UTF-8";
/* CSS Document */
body {
	text-align: center;
	background-color: paleturquoise;  
}
h2 {  
   text-align:center;   /* centers h1 and h2 content */
   color:darkslategrey;       /* exploring new text color */
}
h3 {  
   text-align:center;   /* centers h1 and h2 content */
   color:darkslategrey;       /* exploring new text color */
}

a {
	padding: 15px;
margin: 3px;
	font-size: 100%;
	background-color:  orange; 
	color:  white; 
}
a:hover {
	font-size:105%;
	background-color: gray; 
	color: white; 
}

