@charset "UTF-8";
/* CSS Document */

body {
	text-align: center;
	background-color: lightblue; 
	}
a {
	padding: 15px;
margin: 3px;
	font-size: 125%;
	background-color:  steelblue; 
	color:  white; 
}
a:hover {
	font-size:200%;
	background-color: darkgray; 
	color: white; 
}




